$light: #fde5e5;
$dark: #12191C;
$offwhite: #F8F8F8;
$gold: #AEA079;
$mediaMaxWidth: 1260px;
$laptopWidth: 1024px;
$tabletWidth: 768px;
$mobileWidth: 480px;

.container {
    width: 100%;
    background-color: #AEA079;
    background-image: url("../../images/contact.svg");
    background-repeat: no-repeat;
    background-position: left;
}

.overview-container {
    margin: 0 auto;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    h1 {
        font-family: futura-pt, sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
        font-style: normal;
        margin-top: 0;
        letter-spacing: .3rem;
        text-transform: uppercase;
    }

    hr {
        border-color: $dark;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    p {
        color: $dark;
        width: 11rem;
    }
}

.overview-text {
    color: $dark;
    height: 60%;
}

.card {
    display: flex;
    color: $dark;
    border: 2px solid $dark;
    height: 50%;
    width: 40%;
}

.card-background {
    border: 2px solid $dark;
    height: 50%;
    width: 60%;
    position: relative;
    right: 65%;
    top: 20%;

    p {
        color: $dark;
    }
}

@media (max-width: $tabletWidth) {
    .container {
        flex-wrap: wrap;
        padding: 4rem 1rem;
    }
}