$light: #fde5e5;
$dark: #12191C;
$offwhite: #F8F8F8;
$gold: #AEA079;
$mediaMaxWidth: 1260px;
$laptopWidth: 1024px;
$tabletWidth: 768px;
$mobileWidth: 480px;

.container {
    background-image: linear-gradient(rgba(18, 25, 28, .9),
    rgba(18, 25, 28, 1));
    padding: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    min-height: 100vh;
    h1 {
        align-self: flex-start;
        font-family: futura-pt, sans-serif;
        font-size: 1.5rem;
        font-weight: 800;
        font-style: normal;
        letter-spacing: .3rem;
        text-transform: uppercase;
    }
}

.text-container {
    border: 2px solid $gold;
    width: 800px;
    margin-bottom: 2rem;
    padding: 3px 3px;
    font-weight: 400;
}        
    
.textContainerBorder {
    border: 1px solid $gold;
    padding: 20px 10px;
    p {
        margin: none;
    }
}

@media (max-width: $tabletWidth) {
    .container {
        flex-wrap: wrap;
        padding: 4rem;
    }
    .text-container {
        // width: 95%;
    }
}