$light: #fde5e5;
$dark: #12191C;
$offwhite: #F8F8F8;
$gold: #AEA079;
$mediaMaxWidth: 1260px;
$laptopWidth: 1024px;
$tabletWidth: 768px;
$mobileWidth: 480px;


.container {
    width: 100%;
    min-height: 100vh;
    background-color: $offwhite;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.overview-container {
    grid-column: span 1;
    grid-row: span 3;
    padding: 5rem 5rem 0 4rem;
    length: 100%;
    height: 100%;
    h1 {
        color: $dark;
        font-family: futura-pt, sans-serif;
        font-size: 1.5rem;
        font-weight: 800;
        font-style: normal;
        margin-top: 0;
        letter-spacing: .3rem;
        text-transform: uppercase;
    }
    hr {
        border-color: $dark;
            margin-top: 3rem;
            margin-bottom: 3rem;
    }
    h3 {
        color: $dark;
        font-size: 1.3rem;
        text-align: left;
        font-family: futura-pt, sans-serif;
        font-weight: 500;
        font-style: normal;
        line-height: 1.2;
    }
}

.b {
    grid-column: span 2;
    grid-row: span 1;
    border: 1px solid black;
    length: 100%;
    height: 100%;
}

.c {
    grid-column: span 1;
    grid-row: span 1;
    border: 1px solid black;
    length: 100%;
    height: 100%;
}

.d {
    grid-column: span 1;
    grid-row: span 1;
    border: 1px solid black;
    length: 100%;
    height: 100%;
}

.e {
    grid-column: span 1;
    grid-row: span 1;
    border: 1px solid black;
    length: 100%;
    height: 100%;
}

.f {
    grid-column: span 1;
    grid-row: span 1;
    border: 1px solid black;
    length: 100%;
    height: 100%;
}

.border {
    border: 2px solid $gold;
    padding: 3px;
}
.frame {
    border: 1px solid $gold;
    padding: 75px;
    display: flex;
    justify-content: center;
    h1 {
        color: $dark;
        font-family: futura-pt, sans-serif;
        font-size: 1.5rem;
        font-weight: 800;
        font-style: normal;
        margin-top: 0;
        letter-spacing: .3rem;
        text-transform: uppercase;
    }
}

@media (max-width: $tabletWidth) {
    .container {
        min-height: 100vh;
    }
}