$dark: #12191C;
$gold: #AEA079;
$mediaMaxWidth: 1260px;
$laptopWidth: 1024px;
$tabletWidth: 768px;
$mobileWidth: 480px;

.container {
    width: 100%;
    padding: 6rem 4rem;
    background-image: linear-gradient(rgba(18, 25, 28, .5),
            rgba(18, 25, 28, 1));
    display: flex;
    justify-content: space-evenly;
    flex-wrap: no-wrap;

    h1 {
        align-self: flex-start;
        font-family: futura-pt, sans-serif;
        font-size: 1.5rem;
        font-weight: 800;
        font-style: normal;
        letter-spacing: .3rem;
        text-transform: uppercase;
    }
}

.text-container-border {
    border: 2px solid $gold;
    width: 100%;
    margin-bottom: 2rem;
    padding: 4px 4px;
}        
    
.text-container {
    border: 1px solid $gold;
    padding: 20px 10px;
    p {
        margin: none;
    }
}

@media (max-width: $tabletWidth) {
    .container {
        padding: 4rem 1rem;
        flex-wrap: wrap;
    }
}