$light: #fde5e5;
$dark: #12191C;
$offwhite: #F8F8F8;
$gold: #AEA079;
$mediaMaxWidth: 1260px;
$laptopWidth: 1024px;
$tabletWidth: 768px;
$mobileWidth: 480px;

.container {
    width: 100%;
    height: 100vh;
    background-color: #fcf0ea;
    background-image: linear-gradient(135deg, #f8dbd7, #fff2e1);
}

.tech-partner-container {
    margin: 0 auto;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.tech-partner-text {
    h1 {
        color: $dark;
        font-family: futura-pt, sans-serif;
        font-size: 1.5rem;
        font-weight: 800;
        font-style: normal;
        margin-top: 0;
        letter-spacing: .3rem;
        text-transform: uppercase;
    }

    hr {
        border-color: $dark;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    p {
        color: $dark;
        width: 11rem;
    }
}

.tech-partner-grid {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 1px solid $gold;
    border-left: 1px solid $gold;
    
}

.tech-partner-grid > div {
    color: $dark;
    border-top: 1px solid $gold;
    border-right: 1px solid $gold;
    padding: 3vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    vertical-align: center;
    
}



@media (max-width: $tabletWidth) {
    .container {
        height: auto;
    }
    .tech-partner-grid {
        border-bottom: none;
        border-left: none;
        grid-auto-rows: auto;
        grid-template-columns: repeat(2, 1fr);
    }
    .tech-partner-grid>div {
        border-top: none;
        border-right: none;
    }
    .tech-partner-text {
        p {
            width: 90%;
        }
    }
}