$light: #fde5e5;
$dark: #12191C;
$offwhite: #F8F8F8;
$gold: #AEA079;
$mediaMaxWidth: 1260px;
$laptopWidth: 1161px;
$tabletWidth: 768px;
$mobileWidth: 480px;

.container {
    width: 100%;
    background-color: #fcf0ea;
    background-image: url("../../images/partners.svg"),
    linear-gradient(135deg, #f8dbd7, #fff2e1);
    background-repeat: no-repeat;
    background-size: cover;
}

.tech-partner-container {
    margin: 0 auto;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.tech-partner-text {
    padding: 6rem 4rem;
    h1 {
        color: $dark;
        font-family: futura-pt, sans-serif;
        font-size: 1.5rem;
        font-weight: 800;
        font-style: normal;
        margin-top: 0;
        letter-spacing: .3rem;
        text-transform: uppercase;
    }

    hr {
        border-color: $dark;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    p {
        color: $dark;
        width: 15rem;
    }
}

.tech-partner-grid {
   
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(2, 1fr);

}

.tech-partner-grid > a {
    color: $dark;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 3rem;
}

.partner-text {
    strong{
        color: $dark;
    }
    line-height: 1px;
}

@media (max-width: $laptopWidth) {
    .tech-partner-container {
        justify-content: flex-start;
        padding: 1rem;
    }
}

@media (max-width: $tabletWidth) {
    .container {
        height: auto;
        display: block;
    }
    .tech-partner-container {
        padding: 0;
        display: block;
    }
    .tech-partner-grid {
        display: inline-block;
        text-align: center;
        padding: 1rem 1rem;
        border-bottom: none;
        border-left: none;
        grid-auto-rows: auto;
        grid-template-columns: repeat(2, 1fr);
    }
    .tech-partner-grid>a {
        border-top: none;
        border-right: none;
    }
    .tech-partner-text {
        padding: 1rem 1rem;
        p {
            width: 100%;
        }
    }
}