$gold: #AEA079;
$dark: #12191C;
$offwhite: #F8F8F8;
$light: #fde5e5;
$tabletWidth: 768px;
$laptopWidth: 1024px;

@media (min-width: 950px) {
    .wrapper {
        color: $dark;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        h1 {
            font-family: futura-pt, sans-serif;
            font-size: 1.5rem;
            font-weight: 800;
            font-style: normal;
            margin-top: 0;
            letter-spacing: .3rem;
            text-transform: uppercase;
        }
        h3 {
            padding-top: 2rem;
            text-align: center;
            color: $dark;
            font-size: 1.6rem;
        }
        ul {
            list-style-type: none;
            margin-left: 0;
            margin-bottom: 0;    
        }
        hr {
            border-color: $dark;
            margin-top: 1rem;
            margin-bottom: 1.5rem;
        }
        p {
            margin: 0;
            font-size: 1.1rem;
            line-height: 1.7rem;
            font-style: normal;
            font-weight: 500;
        }
        li {
            padding: .3rem .8rem;
        }
    }

    .border {
        position: relative;
        padding: .3rem;
    }

    .border:before {
        content: " ";
        position: absolute;
        z-index: -1;
        top: 3px;
        left: 3px;
        right: 3px;
        bottom: 3px;
    }

    .border {
        ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        }
        h4 {
            text-align: center;
            font-style:normal;
            font-weight: 400;
            letter-spacing: 0.2px;
        }
    }

    .photo {
        grid-column: span 3;
        grid-row: span 3;
        border: 8px solid $offwhite;
    }

    .intro {
        grid-column: span 9;
        grid-row: span 1;
        color: $dark;
        background-color: $offwhite;
        border: 8px solid $offwhite;
        background-image: url("../images/about.svg"),
        linear-gradient(135deg, $offwhite, $offwhite);
        background-repeat: no-repeat;
        background-position: top left;
        border-left: none;
        padding: 1.5rem;
        padding-bottom: 2rem;
        p {
            color: $dark;
        }
    }

    .stack1 {
        font-size: 1.1rem;
        grid-column: span 3;
        grid-row: span 2;
        border-right: 8px solid $offwhite;
        border-bottom: 8px solid $offwhite;
    }

    .stack2 {
        font-size: 1.1rem;
        grid-column: span 3;
        grid-row: span 2;
        border-right: 8px solid $offwhite;
        border-bottom: 8px solid $offwhite;
    }

    .stack3 {
        font-size: 1.1rem;
        grid-column: span 3;
        grid-row: span 2;
        border-right: 8px solid $offwhite;
        border-bottom: 8px solid $offwhite;
    }

    .experience {
        grid-column: span 9;
        grid-row: span 1;
    }
}

@media (max-width: 950px) {
    .wrapper {
        display: block;
        padding: 2rem;
        h1 {
            font-family: futura-pt, sans-serif;
            font-size: 1.5rem;
            font-weight: 800;
            font-style: normal;
            margin-top: 0;
            letter-spacing: .3rem;
            text-transform: uppercase;
        }
        ul {
            list-style-type: none;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: 0;
            li {
                padding: 0 1rem;
            }
        }
        >div {
            padding-bottom: 1rem;
        }
    }
}