.posts {
  list-style-type: none;
  margin: 0;
}

.post {
  margin: 1rem 0;

  a {
    border: 2px solid white;
    display: block;
    padding: 1rem;
    text-decoration: none;
  }

  h2 {
    margin-bottom: 0;

  }

  p {
    font-size: .8rem;
    font-style: italic;
  }
}
