$light: #F9E7E7;
$dark: #12191C;
$button:#EA575C;
$mediaMaxWidth: 1260px;
$laptopWidth: 1024px;
$tabletWidth: 768px;
$mobileWidth: 480px;

.container {
    display: flex;
    justify-content: center; 
        h2 {
            font-size: 2.5rem;
            margin-bottom: 3rem;
        }
}

.form {
    font-size: 1.2rem;
    line-height: 2rem;
    width: 90%;
    // background:rgba(18, 25, 28, 0.4);
    // border: .3rem solid $light;
    border-radius: 25px;
    opacity: 0.9;
    padding: 0 4rem;
    textarea {
        height: 8rem;
    }
}

.input {
    background-color: white;
    color:$dark;
    width: 100%;
    display: flex;
    padding: 5px 15px;
    border: none;
}

.checkbox {
    width: 1.2rem;
    height: 1.2rem;
    vertical-align: middle;
    margin-right: .5rem;
}

.input-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    p {
        flex: 1;
        flex-wrap: wrap;
    }
}

.space {
    width: 30px;
    margin: 0 3px;
}

.button {
    width: 100%;
    text-align: center;
    button {
        width: 95%;
        font-size: 1.3rem;
        padding: 1rem 10rem;
        margin-top: 2rem;
        background: $button;
        cursor: pointer;
        border-style: none;
        border-radius: 2px;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
      
        transition: all ease 0.3s;
    }

    button:hover {
        background:#e74046; 
    }

    button:active {
        transform: translateY(10px);
    }
}

@media (max-width: $laptopWidth) {
    .form {
        width: 100%;
    }
}

@media (max-width: $tabletWidth) {
    .form {
        width: 100%;
        padding: 0 0.5rem;
        background: none;
        border: none;
    }
    .input-row {
        p {
            min-width: 100%;
        }
    }
    .space {
        display: none;
    }
}


input:focus,
textarea:focus,
select:focus {
    // outline: 3px outset #f55649;
    // border-radius:0;
}

button:focus {
    outline: none;
    opacity: .5;
}