$light: #F9E7E7;
$dark: #12191C;
$offwhite: #F8F8F8;
$gold: #AEA079;
$mediaMaxWidth: 1260px;
$laptopWidth: 1024px;
$tabletWidth: 768px;
$mobileWidth: 480px;

.container {
    display: flex;
    justify-content: center; 
    p {
        font-weight: 300;
        font-style: normal;
    }
}

.form {
    color: $offwhite;
    font-size: 1.2rem;
    line-height: 2rem;
    width: 60%;
    border-radius: 25px;
    opacity: 0.9;
    padding: 0 4rem;
    h1 {
        font-size: 3rem;
        font-weight: 300;
        font-style: normal;
    }
    textarea {
        height: 8rem;
    }
}

.input {
    background-color: $offwhite;
    color:$dark;
    width: 100%;
    display: flex;
    padding: 5px 15px;
    border: none;
}

.checkbox {
    width: 1.2rem;
    height: 1.2rem;
    vertical-align: middle;
    margin-right: .5rem;
}

.input-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    p {
        flex: 1;
        flex-wrap: wrap;
    }
}

.space {
    width: 30px;
    margin: 0 3px;
}

.button {
    width: 100%;
    text-align: center;
    button {
        width: 95%;
        font-size: 1.3rem;
        padding: 1rem 0;
        margin-top: 2rem;
        background: $gold;
        cursor: pointer;
        border-style: none;
        border-radius: 2px;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
        transition: all ease 0.3s;
    }

    button:hover {
        background:#gold; 
    }

    button:active {
        transform: translateY(10px);
    }
    button:focus {
        outline: none;
        opacity: .5;
    }
}

input:focus {
    outline: 5px solid $gold;
}

textarea:focus {
    outline: 5px solid $gold;
}

@media (max-width: $mediaMaxWidth){
    .form {
        width: 80%;
    }
}

@media (max-width: $laptopWidth) {
    .form {
        width: 100%;
    }
}

@media (max-width: $tabletWidth) {
    .form {
        width: 100%;
        padding: 0 0.5rem;
        background: none;
        border: none;
    }
    .input-row {
        p {
            min-width: 100%;
        }
    }
    .space {
        display: none;
    }
}

input[type='checkbox']:checked {
    -webkit-filter: sepia(100%);
}

input[type='radio']:checked {
    -webkit-filter: sepia(100%);
}