$light: #fde5e5;
$dark: #12191C;
$offwhite: #F8F8F8;
$gold: #AEA079;
$mediaMaxWidth: 1260px;
$laptopWidth: 1024px;
$tabletWidth: 768px;
$mobileWidth: 480px;

.animate-pop-in {
    animation: pop-in 4s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
    opacity: 0;
    color: $offwhite;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.hero {
    position: relative;
    top: 7vmax;
    width: 85%;
    margin: 0 auto;
    h1 {
        font-weight: 300;
        font-style: normal;
        font-size: 3.5vmax;
        animation-delay: .2s;
        max-width: 75%;
        letter-spacing: 1px;
    }
    h2 {
            font-weight: 400;
            font-style: normal;
        font-size: 3.5vmax;
        animation-delay: .4s;
        margin: 4vmax 0;
    }
}



@keyframes pop-in {
    0% {
        opacity: 0;
        transform: translateY(-4rem) scale(.8);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

hr {
    margin-top: 4rem;
    border-width: 0;
    border-top: 2px solid #fff;
    width: 40px;
    text-align: left;
    margin-left: 0;
}

@media (max-width: $laptopWidth) {
    .delay h1 {
        font-size: 4vmax;
    }
    .delay h2 {
        font-size: 3vmax;
    }
}

@media (max-width: $tabletWidth) {
    .hero {
        max-width: 95%;
    }
    .hero h1 {
        font-size: 5vmax;
        max-width: 100%;
    }
    .hero h2 {
        font-size: 4.5vmax;
    }
    hr {
        display: none;
    }
    .partners {
        display: none;
    }
}