.container {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.text {
    padding: 4rem;
    text-align: center;
    margin: 0 auto;
    h1 {
        font-weight: 400;
    }
     h2 {
         font-weight: 400;
     }   
}

