.links {
    margin: 0;
    margin-bottom: 3vmax;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    ul {
        list-style-type: none;
        margin: 0;
    }
}

.social-links {
    display: flex;
    li {
        padding: 1rem;

    }
}