$dark: #12191C;
$gold: #AEA079;
$light: #fde5e5;
$offwhite: #F8F8F8;
$mediaMaxWidth: 1260px;
$laptopWidth: 1024px;
$tabletWidth: 768px;
$mobileWidth: 480px;

.footer {
  width: 100%;
  height: 100vh;
  // background:#12191c;
  background:#222;
  background-image: url("../images/backgrounds/topography.svg");
  position: relative;
  z-index: 25;
  .container {
    width: 95%;
    font-size: 0.7rem;
    padding: 3rem;
    margin: 0 auto;
    p {
      opacity: .5;
      margin: 0;
    }
  }
  .contact {
    display: flex;
    justify-content: center;
    position: relative;
    top: 250px;
  }
}

.button {
  margin-left: 3rem;
  border: 2px solid $gold;
  background: none;
  width: 500px;
  padding: .5rem 0;
  animation: fadeInAnimation ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition: all 0.5s;
}
.button:nth-child(1) {
  text-transform: uppercase;
}

.button:hover {
  cursor: pointer;
  background: $gold;
}

.button span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\21D2';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

@media (max-width: $laptopWidth) {
  .button {
    margin: 0;
    margin-top: 2rem;
    width: 45%;
  }
}

@media(max-width: $mobileWidth) {
  .button {
    width: 80%;
  }
}

.created,
.links {
  position: absolute;
  bottom: 0;
}

