.footer {
    width: 100%;
    // background: rgba(18, 25, 28, 1);
    .container {
            width: 95%;
            font-size: 0.7rem;
            padding: 3rem;
            margin: 0 auto;
            p {
                opacity: .5;
                margin: 0;
            }
    }
}
