.footer {
    width: 100%;
    .container {
            width: 95%;
            font-size: 0.7rem;
            padding: 1rem;
            margin: 0 auto;
            p {
                opacity: .5;
                margin: 0;
            }
    }
}
