$light: #F9E7E7;
$dark: #12191C;
$lightpink: #F4D3D3;

$button:#EA575C;
$mediaMaxWidth: 1260px;
$laptopWidth: 1024px;
$tabletWidth: 768px;
$mobileWidth: 480px;


body {
  background: $dark;
  color: $light;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0 3rem;
}

.logo {
  font-family: rig-solid-bold-inline, serif;
  font-size: 8vmax;
  transition: transform 1s;
  color: $light;
}

.logo:hover {
  transform: rotate(-20deg);
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.nav-item {
  margin-right: 1.3rem;
  position: relative;
  padding: 15px 5px;
  font-size: 1.3vmax;
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
  transition: all ease 0.3s;
}

.nav-item:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  position: absolute;
  background: $light;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-item:hover:after {
  width: 100%;
  left: 0;
}

.nav-item:active {
  transform: translateY(4px);
}

.active-nav-item {
  font-weight: bold;
}

@media (max-width: $tabletWidth) {
  .nav-item {
    font-size: 3vmax;
  }
  .logo {
    font-size: 14vmax;
  }
}