$light: #F9E7E7;
$dark: #12191C;
$gold: #AEA079;
$mediaMaxWidth: 1260px;
$laptopWidth: 1024px;
$tabletWidth: 768px;
$mobileWidth: 480px;

.container {
  width: 100%;
}

.header {
  margin: 0 auto;
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0 3rem;
  width: 85%;
}

.logo {
  transition: transform 1s;
  background: url(../images/rc-logo.svg) no-repeat;
  display: block;
  height: 7vmax;
  width: 7vmax;
  border-bottom: none;
  h1 {
    display: none;
  }
}

.logo:hover {
  transform: rotate(-20deg);
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.nav-item {
  margin-left: 4rem;
  position: relative;
  padding: 15px 5px;
  font-size: 1.3vmax;
  text-decoration: none;
  display: inline-block;
  transition: all ease 0.5s;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nav-item:hover {
  color: $gold;
}

.nav-item:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  position: absolute;
  background: $gold;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-item:hover:after {
  width: 100%;
  left: 0;
}

.nav-item:active {
  transform: translateY(4px);
}

.active-nav-item {
  font-weight: bold;
  color: $gold;
}

@media (max-width: $laptopWidth) {
  .nav-item {
    font-size: 2vmax;
  }
}

@media (max-width: $tabletWidth) {
  .nav-list {
    // padding: 0 10%;
  }
  .nav-item {
    font-size: 100%;
    margin: 0;
    padding-left: 10px;
  }
  .logo {
    width: 4rem;
    height: 4rem;
  }
  .header {
    justify-content: space-between;
  }

  @media (max-width: 300px) {
    .nav-item {
      font-size: .8rem;
      padding: 0 0 0 10px;
      li {
        margin: 0;
      }
    }
  }
}