$mediaMaxWidth: 1260px;
$laptopWidth: 1024px;
$tabletWidth: 768px;
$mobileWidth: 480px;

.main-container {

    background-image: linear-gradient(rgba(18, 25, 28, .4),
        rgba(20, 20, 20, 1));
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center bottom;
    background-attachment: fixed;
}

.container {
    margin: 0 auto;
    width: 75%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex-grow: 1;
}


@media (max-width: $tabletWidth) {
    .container {
        width: 95%;
        padding: 0.5rem;
    }


}

