$mediaMaxWidth: 1260px;
$laptopWidth: 1024px;
$tabletWidth: 768px;
$mobileWidth: 480px;

.container {
  margin: 0 auto;
  height: 100vh;
  width: 90%;
  padding: 1rem;
}

@media (max-width: $tabletWidth) {
  .container {
    width: 95%;
    padding: 0.5rem;
  }
}

